/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/database/*.sqlite
/bootstrap/cache/*.php
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/storage/app/public/products/*
/storage/app/public/valid-ids/*
/storage/logs/*.log
.phpunit.result.cache
